# Maven
**/target/
**/mvnw
**/mvnw.cmd
**/.mvn/

# IntelliJ IDEA
**/.idea/
**/*.iml
**/*.iws
**/*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
**/application-local.properties
**/application-local.yml

# Docker volumes (local data)
postgres_data/
rabbitmq_data/
